# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.GameEngines.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\kelme\Documents\GitHub\GameEnginesAssignment-2022\GameEngines\.idea\.idea.GameEngines\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
