# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.GameEngines.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\user\GameEnginesAssignment-2022\GameEngines\.idea\.idea.GameEngines\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
